/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-label {
}

<<<<<<< HEAD
.contaner-at-home {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  font-size: 18px;
}

.at-home {

}

=======
>>>>>>> b5bf9380d97043e17bc3b5ea839ac797cd957969
.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
<<<<<<< HEAD


=======
>>>>>>> b5bf9380d97043e17bc3b5ea839ac797cd957969
